{
    "server": {
      "port": 8080
    },
    "database": {
      "addr": "cloudsql ip",
      "username": "db user",
      "password": "db password",
      "database": "sensor"
    },
    "ratelimit": {
      "gen-per-seconds": 300
    }
  }